<div id="tree_form">
<% if can? :edit, @category %>
  <%= label_tag(:name, "New Category By Name") %>
  <%= f.text_field :name %>
  or select existing

    <%= f.collection_select :id, @categories, :id, :name, :include_blank => true %>
      <br><br>
      <datalist id='categories_datalist'>
        <% Category.all.each do |category| %>
          <option name="<%=category.id%>" value="<%=category.name%>"></option>
        <% end %>
      </datalist>

    <%= f.fields_for :subjects do |subject|%>
      <div id="subject_tree">
        <%= label_tag(:name, "New Subject By Name") %>
        <%= subject.text_field :name %>

        <%= subject.hidden_field :user_id, value: current_user.id, id: "subject_user_id" %>
        or select existing

        <%= subject.collection_select :id, @subjects, :id, :name, :include_blank => true %>
          <br><br>
          <datalist id='subjects_datalist'>
            <% Subject.all.each do |subject| %>
              <option name="<%=subject.name%>" value="<%=subject.name%>" cat_id="<%=subject.category_id%>"></option>
            <% end %>
          </datalist>

        </div> <!-- subject_tree -->
        <%= subject.fields_for :resources do |resource| %>
          <div id="resource_tree">
            <table>
              <tr>
                <td><%= resource.label :name %></td>
                <td><%= resource.text_field :name %></td>
              </tr>
              <tr>
                <td><%= resource.label :url %></td>
                <td><%= resource.text_field :url %></td>
              </tr>
                <td><%= resource.label :description %></td>
                <td><%= resource.text_area :description %></td>
              <tr>
                <td><%= resource.label :price_per_month %></td>
                <td><%= resource.number_field :price_per_month %></td>
              </tr>
            </table>
            <%= resource.hidden_field :user_id, value: current_user.id, id: "resource_user_id" %>
          </div> <!-- resource_tree -->
        <% end %> <!-- fields_for :resource -->  <br>

  <% end %> <!-- fields_for :subject -->
  <%= f.submit id: 'submit_form' %>
<% end %>
</div>
