<%= render partial: "application/new_object_instructions", locals: { object: @user } %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Please correct the following <%= pluralize(@user.errors.count, "error") %> fields: </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form">

  <%= form_for @user do |f| %>
    <%= render partial: "form", locals: {f: f} %>
  <% end %>
  
</div>