
<title><% title(@subject.name.capitalize + "'s Details") %></title>

<%= render partial: 'application/navigation', locals: { object: @subject } %>
<%= render partial: "flashnotice", locals: { flash: flash } %>
<br><br>

<% if can? :edit, @subject %>
  <%= link_to "Edit this subject.", edit_category_subject_path %> <br>
<% end %>

<%= link_to "Make a new Resource!", new_resource_helper(@subject) %>


<ul>
  <% @subject.resources.each do |resource| %>

    <li><%= render partial: "application/index", locals: { object: resource } %></li>
  <% end %>
</ul>