<table>
<tr>
<td>Name:</td> <td><%= resource.name %></td>
</tr>

<tr>
<td>URL:</td> <td><%= link_to resource.url, url_with_protocol(resource.url), :target => '_blank' %></td>
</tr>

<tr>
<td>Description:</td> <td><%= resource.description %></td>
</tr>

<tr>
<td>Price Per Month:</td> <td>$<%= resource.price_per_month %></td>
</tr>

<tr>
<td>Average Usability Rating:</td> <td><%= usability_rating %></td>
</tr>

<tr>
<td>Average Addictiveness Rating:</td> <td><%= addictiveness_rating %></td>
</tr>
</table>
