
<title><% title( @resource.name.capitalize + "'s Details" ) %></title>

<%= render partial: 'application/navigation', locals: { object: @resource } %>

<br><br>

<%= link_to "Edit or delete this resource.", edit_category_subject_resource_path(@resource.category, @resource.subject, @resource) %> <br><br>


<%= render partial: "index", locals: { resource: @resource } %>


<%= form_for [@resource.category, @resource.subject, @resource], url: edit_resource_path(@resource.category, @resource.subject, @resource) do |f| %>
  <%= f.label :usability_rating, "Usability:" %>
  <%= f.number_field :usability_rating %>

  <%= f.label :addictive_rating, "Addictiveness" %>
  <%= f.number_field :addictive_rating %>

  <%= f.submit %>
<% end %>