
<% title( @resource.name.capitalize + "'s Details" ) %>

<%= render 'application/navigation',  object: @resource  %>

<br><br>

<% if can? :edit, @resource %>
  <%= link_to "Edit this resource.", edit_category_subject_resource_path(@resource.category, @resource.subject, @resource) %>
<% end %>

<br><br>
<%= render partial: "index", locals: { resource: @resource } %>
<br>
<div class="instructions">
Ratings must be between 1 and 10. Edit your rating by submitting your vote again. (your old vote will be deleted)
</div>

<%= form_for [@resource], url: edit_resource_path(@resource.category, @resource.subject, @resource) do |f| %>
  <%= f.label :usability_ratings, "Usability:" %>
  <%= f.number_field :usability_ratings %>

  <%= f.label :addictive_ratings, "Addictiveness" %>
  <%= f.number_field :addictive_ratings %>

  <%= f.submit %>
<% end %>
