
<title> <% title("New Category") %> </title>

<%= render partial: "application/new_object_instructions", locals: { object: @category } %>
Use this great power with care!! <br><br>

<%= render partial: "flashnotice", locals: { flash: flash } %>


<div class="form">

  <% if (!request.referrer.end_with? home_path) && (!request.env["REQUEST_URI"].end_with?("tree_builder/new")) %>
    <%= form_for @category do |f| %>
      <%= render partial: "application/form", locals: {f: f} %>
    <% end %>
  <% else %>
  
  For now, we have a fixed number of categories, subjects, and reources you can create, but in the future you will be able to choose how many!
    <%= form_for @category, url: "/tree_builder/new", method: "post" do |f| %>
      <%= render partial: "tree_builder", locals: {f: f} %>
    <% end %>
  <% end %>
</div>