<%= render partial: 'application/navigation', locals: { category: @category } %>

<br><br>

<%= link_to "Make a new subject!", new_subject_path %>

<%= link_to "Edit this category.", edit_category_path %> <br><br>

<ul>
  <%= @category.subjects.each do |subject| %>
    <li><%= render partial: "application/index", locals: { object: subject } %></li>
  <% end %>
</ul>