
<title><% title(@category.name.capitalize + "'s Subjects") %></title>

<%= render partial: 'application/navigation', locals: { object: @category } %>
<%= render partial: "flashnotice", locals: { flash: flash } %>
<br><br>

<%= link_to "Make a new subject!", new_subject_path %>

<%= link_to "Edit or delete this category.", edit_category_path %> <br><br>

<ul>
  <% @category.subjects.each do |subject| %>
    <li><%= render partial: "application/index", locals: { object: subject } %></li>
  <% end %>
</ul>