<table>
<div class="name">
  <tr>
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name %></td>
  </tr>
</div>

<% if can? :delete, (@category || @subject || @resource) %>
  <div class="destroy">
    <%= f.label :_destroy, "Delete: " %>
    <%= f.check_box :_destroy %>
  </div>
<% end %>

<% if defined? category_id %>
  <div class="category_id">
    <%= f.hidden_field :category_id %>
  </div>

<% elsif defined? subject_id %>
  <div class="url">
    <tr>
    <td><%= f.label :url %></td>
    <td><%= f.text_field :url %></td>
    </tr>
  </div>

  <div class="description">
    <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description %></td>
    </tr>
  </div>

  <div class="price">
    <tr>
    <td><%= f.label :price_per_month %></td>
    <td><%= f.number_field :price_per_month %></td>
    </tr>
  </div>

  <%= f.hidden_field :subject_id %>

<% end %>
<%= f.hidden_field :user_id, value: current_user.id %>
</table>
<%= f.submit %>